table {
	border-collapse: collapse;
	margin: 0;
	width: 100%;
}

th {
	border-bottom: 1px solid;
}

th {
	padding-top: 1%;
	padding-bottom: 1%;
}

.fas.fa-plus-circle {
	font-size: 20px;
	margin: 10%;
}
