/* Nav */
#option a:first-child {
	font-weight: bold;
}
/* Content */
#content {
	width: 100%;
	margin: 1% 1% 1% 1%;
}
#gauche{
	position: relative;
	float: left;
	border:1px solid black;
	margin-bottom: 2%;

}
#droite{
	position: relative;
	float: right;
	border:1px solid black;
}



label, input{
	margin-top: 20%;
}




















/* Footer */
footer p {
	margin: 1%;
}

footer {
	text-align:center;
}
