/* Nav */
#option a:first-child {
	font-weight: bold;
}

/* Content */
#content {
	width: 100%;
	margin: 0 1% 0 1%;
}
#produit{
	border:solid 1px black;
}
#droite{
	float: right;
}

/* Footer */
footer p {
	margin: 1%;
}

footer {
	text-align:center;
}
