/* Nav */
#option a:first-child {
	font-weight: bold;
}

/* Content */
#content {
	width: 90%;
	margin: 0 1% 0 1%;
}

#droite{
	position: relative;
	float: right;
}
#gauche{
	position: relative;
	float: left;

}

h2{
	margin: 1%;
}


#produit, #information, #client, #prix{
	border:2px solid black;
	border-radius: 2%;
	padding: 2% 2% 2% 2%;
}

.alignement{
	display: block;
	margin: 1%;
}
input, select {
	padding: 10px;
	font-size: 12px;
	margin: 5px 0 5px 0;
	border: 2px solid black;
	border-radius: 3px;
}
















/* Footer */
footer p {
	margin: 1%;
}

footer {
	text-align:center;
}
